* {
  box-sizing: border-box;
}
#root {
  background-color: gainsboro;
  color: gray;
  width: 800px;
}

#sentinal-0 {
  border: 1px solid blue;
  height: 2px;
  width: 100%;
}

.dfp {
  border: 1px solid red;
}

#inf-0 {
  border: 1px solid green;
}
#inf-1 {
  border: 1px solid purple;
}
#inf-2 {
  border: 1px solid orange;
}
