<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cube</title>
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <style>
    .home .dfp {
      margin: 0 auto;
      display: table;
    }
  </style>
</head>
  <body class="home">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="../index.html">Home</a></li>
          <li><a href="./cube.html">Cube</a></li>
          <li><a href="./leaderboard.html">Leaderboard</a></li>
          <li><a href="./billboard.html">Billboard</a></li>
          <li><a href="./pushdown.html">Pushdown</a></li>
          <li><a href="./wallpaper.html">Wallpaper</a></li>
          <li class="has-submenu">
            <a href="#">In-Banner Video</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="./billboard_video.html">Billboard</a></li>
              <li><a href="./pushdown_video.html">Pushdown</a></li>
              <li><a href="./wallpaper_video.html">Wallpaper</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>Ads Stuff</h1>
        <h2 class="subheader">Such a Simple Cube</h2>
      </div>
    </div>

    <div class="row">
      <div class="blog-post medium-8 large-7 columns">
        <h3>Awesome blog post title <small>3/6/2015</small></h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>
      <div class="dfp dfp-slot-sidebar-primary medium-4 large-5 columns" data-ad-unit="sidebar-primary"></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      window.TARGETING = {
        dfp_site: 'onion',
        dfp_pagetype: 'article'
      };
      $(document).foundation();
    </script>
    <script src="../dist/module.js"></script>
  </body>
</html>
